    /*flex*/
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-item-1{
    flex: 1;
}
/*flex item*/
.item{
    margin: 5px;
    background:rgb(255, 217, 0);
    text-align: center;
    font-size: 1.5em;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid rgb(51, 255, 0);
}
h1{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
}
body{
    font-family: monospace;
    color: rgb(0, 136, 255);
}